@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&display=swap');

* {
    font-family: "Eczar", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    padding: 10px;
    width: 280px;
    color: #bb86fc;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #ff7597;
}

div {
    margin-bottom: 15px;
}

.highlightlabel {
    margin-right: 15px;
    font-size: 14px;
}

input {
    background-color: #121212;
}

button {
    margin-right: 5 px;
    padding: 7px 14px;
    background-color: black;
    color: whitesmoke;
    border: none;
    margin: 1px;
}

button:hover {
    cursor: pointer;
    border: 1px solid white;
    margin: 0;
}

.buttons {
    display: flex;
    gap: 10px;
}

#highlightBtn {
    margin-right: 5px;
}

#annotationList {
    list-style-type: none;
    padding: 0;
}

#annotationList li {
    margin-bottom: 15px;
}

.searchinput {
    color: aliceblue;
    border: none;
}

.annoexp {
    width: 100%;
    display: flex;
    gap: 20px;
}

img {
    object-fit: contain;
    cursor: pointer;
}

#searchBtn {
    padding: 4px 8px;
}

#searchBtn:hover {
    background-color: gray;
    border-color: gray;
}


@media (max-width: 280px) {
    body {
        padding: 5px;
    }

    h1 {
        font-size: 1.2em;
    }

    button {
        font-size: 0.9em;
        padding: 8px;
    }

    input[type="color"] {
        height: 30px;
    }

    .annoexp {
        gap: 5px;
    }
}